<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="selenium-auto-healing-unit-tests" verbose="1">
    <test name="UnitTests">
        <classes>
            <class name="io.github.autoheal.healing.AttributeFallbackStrategyTest"/>
            <class name="io.github.autoheal.healing.HealingReportTest"/>
            <class name="io.github.autoheal.healing.ShadowDomStrategyTest"/>
            <class name="io.github.autoheal.healing.IframeStrategyTest"/>
            <class name="io.github.autoheal.healing.StaleElementStrategyTest"/>
            <class name="io.github.autoheal.healing.CssFallbackStrategyTest"/>
        </classes>
    </test>
</suite>
